/* 
CSS Template:
https://github.com/looker-open-source/viz-report-table-marketplace-open-source/blob/master/src/theme_custom_template.css

Repo Link Creator:
https://raw.githack.com/
*/

.reportTable {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 12px; /* Default font size for the table */
  width: 100%; /* Ensures the table uses full available width */
  border-collapse: separate; /* Ensures borders do not collapse */
  border-spacing: 0 16px; /* Increased space between rows/cards */
}

/* Default style for all rows */
.reportTable tr {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Standard shadow for all rows */
  border-radius: 8px; /* Rounds the corners */
}

/* Style for the first row */
.reportTable tr:first-child {
  font-size: 14px; /* Slightly larger font size */
  font-weight: 500; /* Medium bold font */
}

.reportTable td, .reportTable th {
  border: none; /* Removes any borders */
  padding: 20px; /* Padding inside the cell */
  text-align: left; /* Aligns text to the left for all cells */
}

/* Specific style for header cells */
.reportTable th {
  padding: 28px 20px; /* Increased padding for the header */
  border-top-left-radius: 8px; /* Rounds the top-left corner */
  border-top-right-radius: 8px; /* Rounds the top-right corner */
  background-color: transparent; /* Remove background color */
  box-shadow: none; /* Remove shadow */
}

/* Alternating background colors for rows */
.reportTable tr:nth-child(odd) td {
  background-color: #f9f9f9; /* Light grey for odd rows */
}

.reportTable tr:nth-child(even) td {
  background-color: #ffffff; /* White for even rows */
}

/* Left and right alignment for text in the cells */
.reportTable .left {
  text-align: left;
}

.reportTable .right {
  text-align: center; /* Centers the text */
}

/* Styles for emphasized rows */
.subtotal, .total {
  font-style: italic;
  font-weight: bold;
  background: #d3d3d3; /* Light grey background for emphasis */
}
