#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  font-family: sans-serif;
  font-size: 16px;
  z-index: 2;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 15px;
}

.reportTable {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 12px;
  border-collapse: collapse; /* Borders removed */
}

/* Remove borders from th and td */
.reportTable th, .reportTable td {
  color: #000000;
  vertical-align: super;
  padding: 20px; /* Adjusted padding for th */
  border: none; /* Borders removed */
}

/* Alternating row colors */
.reportTable tr:nth-child(odd) { /* Target odd rows */
  background-color: #f9f9f9; /* Light grey for odd rows */
}

.reportTable tr:nth-child(even) { /* Target even rows */
  background-color: #ffffff; /* White for even rows */
}

.left {
  text-align: left;
}

.right {
  text-align: center !important;
}

.indent {
  padding-left: 15px !important;
}

.subtotal {
  font-style: italic;
  font-weight: bold;
  background: #d3d3d3; /* Overridden background for subtotal rows */
}

.total {
  font-weight: bold;
  background: #d3d3d3; /* Overridden background for total rows */
  border-top: none !important; /* Border top removed */
}

.total.transposed {
  background: #d3d3d3; /* Ensure consistent background for transposed total rows */
}
